<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/app :: app(title='Sign in', content=~{::content})}">

<div th:fragment="content">
    <form class="form" th:action="@{${routes.login}}" method="POST">
        <div class="form__group">
            <label class="form__label" for="username">Email or Username</label>
            <input class="form__input" type="text" placeholder="Email or Username" name="username">
        </div>
        <div class="form__group">
            <label class="form__label" for="password">Password</label>
            <input class="form__input" type="password" placeholder="Password" name="password">
        </div>
        <small class="form__error" th:if="${success != null && success == false}">
            Invalid credentials!
        </small>
        <button class="btn form__submit-btn" type="submit">
            <div class="btn__label">Sign in</div>
        </button>
    </form>
</div>

</html>