<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/app :: app(title='Sign up', content=~{::content})}">

<div th:fragment="content">
    <h2>Sign up</h2>
    <form th:action="@{/auth/register}" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" placeholder="Email" name="email">
        </div>
        <div>
            <label for="username">Username</label>
            <input type="username" placeholder="Username" name="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" placeholder="Password" name="password">
        </div>
        <button class="btn" type="submit">Sign Up</button>
    </form>
</div>

</html>