<!DOCTYPE html>
<html lang="en">

<div th:fragment="sidebar" class="app__sidebar">
    <nav>
        <ul class="list">
            <li class="list__item">
                <a href="" class="btn">
                    <span class="btn__label">Home</span>
                    <svg class="icon btn__icon">
                        <use href="#home"></use>
                    </svg>
                </a>
            </li>
            <li class="list__item">
                <a href="" class="btn">
                    <span class="btn__label">Profile</span>
                    <svg class="icon btn__icon">
                        <use href="#user"></use>
                    </svg>
                </a>
            </li>
            <li class="list__item">
                <a href="" class="btn">
                    <span class="btn__label">Games</span>
                    <svg class="icon btn__icon">
                        <use href="#gamepad"></use>
                    </svg>
                </a>
            </li>
            <li class="list__item">
                <a href="" class="btn">
                    <span class="btn__label">Fields</span>
                    <svg class="icon btn__icon">
                        <use href="#field"></use>
                    </svg>
                </a>
            </li>
            <li class="list__item">
                <a href="" class="btn">
                    <span class="btn__label">Settings</span>
                    <svg class="icon btn__icon">
                        <use href="#settings"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</div>

</html>