<!DOCTYPE html>
<html lang="en">

<div th:fragment="sidebar" class="app__sidebar sidebar">
    <nav>
        <ul class="list">
            <li class="list__item">
                <a class="btn" th:href="@{${routes.index}}">
                    <svg class="btn__icon icon">
                        <use href="#home"></use>
                    </svg>
                    <span class="btn__label sidebar__detail">Home</span>
                </a>
            </li>
            <a class="btn" th:href="@{${routes.me}}">
                <svg class="btn__icon icon">
                    <use href="#user"></use>
                </svg>
                <span class="btn__label sidebar__detail">Profile</span>
            </a>
            <li class="list__item dropdown">
                <button class="btn dropdown__btn">
                    <svg class="btn__icon icon">
                        <use href="#gamepad"></use>
                    </svg>
                    <span class="btn__label sidebar__detail">Games</span>
                    <svg class="btn__indicator dropdown__indicator icon sidebar__detail">
                        <use href="#chevron-right"></use>
                    </svg>
                </button>
                <ul class="dropdown__content sidebar__dropdown-content">
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#search"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Find</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#user-check"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Arranged</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#plus-circle"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Create</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#manage"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Manage</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#history"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">History</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list__item dropdown">
                <button class="btn dropdown__btn">
                    <svg class="btn__icon icon">
                        <use href="#field"></use>
                    </svg>
                    <span class="btn__label sidebar__detail">Fields</span>
                    <svg class="btn__indicator dropdown__indicator icon sidebar__detail">
                        <use href="#chevron-right"></use>
                    </svg>
                </button>
                <ul class="dropdown__content sidebar__dropdown-content">
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#all"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">All</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#local"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Local</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#heart"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Favourite</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#plus-circle"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Create</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#manage"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Manage</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list__item dropdown">
                <button class="btn dropdown__btn">
                    <svg class="btn__icon icon">
                        <use href="#ellipsis-circle"></use>
                    </svg>
                    <span class="btn__label sidebar__detail">More</span>
                    <svg class="btn__indicator dropdown__indicator icon sidebar__detail">
                        <use href="#chevron-right"></use>
                    </svg>
                </button>
                <ul class="dropdown__content sidebar__dropdown-content">
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#library"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Wiki</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#about"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">About</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#contact"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Contacts</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list__item dropdown">
                <button class="btn dropdown__btn">
                    <svg class="btn__icon icon">
                        <use href="#settings"></use>
                    </svg>
                    <span class="btn__label sidebar__detail">Settings</span>
                    <svg class="btn__indicator dropdown__indicator icon sidebar__detail">
                        <use href="#chevron-right"></use>
                    </svg>
                </button>
                <ul class="dropdown__content sidebar__dropdown-content">
                    <li class="list__item">
                        <button class="btn app__default-settings-toggle">
                            <svg class="btn__icon icon">
                                <use href="#default-settings"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Restore defaults</span>
                        </button>
                    </li>
                    <li class="list__item">
                        <button class="btn app__dark-mode-toggle">
                            <svg class="btn__icon icon">
                                <use href="#moon"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Dark mode</span>
                            <svg class="btn__indicator app__dark-mode-indicator icon sidebar__detail">
                                <use href="#toggle-left"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="list__item dropdown">
                        <button class="btn dropdown__btn">
                            <svg class="btn__icon icon">
                                <use href="#language"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Language</span>
                            <svg class="btn__indicator dropdown__indicator icon sidebar__detail">
                                <use href="#chevron-right"></use>
                            </svg>
                        </button>
                        <ul class="dropdown__content list sidebar__dropdown-content">
                            <li class="list__item">
                                <a class="btn" href="">
                                    <div class="icon btn__icon">БГ</div>
                                    <div class="btn__label sidebar__detail">Български</div>
                                </a>
                            </li>
                            <li class="list__item">
                                <a class="btn" href="">
                                    <div class="icon btn__icon">EN</div>
                                    <div class="btn__label sidebar__detail">English</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#user"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Account</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a class="btn" href="">
                            <svg class="btn__icon icon">
                                <use href="#user-lock"></use>
                            </svg>
                            <span class="btn__label sidebar__detail">Admin</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="sidebar__auth-menu">
        <div class="sidebar__auth-guest-menu">
            <a class="btn" th:href="@{${routes.login}}">
                <svg class="btn__icon icon">
                    <use href="#sign-in"></use>
                </svg>
                <span class="btn__label sidebar__detail">Sign In</span>
            </a>
            <a class="btn" th:href="@{${routes.register}}">
                <svg class="btn__icon icon">
                    <use href="#sign-up"></use>
                </svg>
                <span class="btn__label sidebar__detail">Sign Up</span>
            </a>
        </div>
        <a class="btn" th:href="@{${routes.logout}}">
            <svg class="btn__icon icon">
                <use href="#sign-out"></use>
            </svg>
            <span class="btn__label sidebar__detail">Sign Out</span>
        </a>
    </div>
</div>

</div>

</html>