<!DOCTYPE html>
<html lang="en">

<div th:fragment="sidebar" class="app__sidebar sidebar">
    <button class="btn app__sidebar-toggle">
        <svg class="btn__icon icon">
            <use href="#menu"></use>
        </svg>
    </button>
    <nav>
        <ul class="list">
            <li class="list__item">
                <a href="" class="btn">
                    <span class="btn__label sidebar__detail">Home</span>
                    <svg class="icon btn__icon">
                        <use href="#home"></use>
                    </svg>
                </a>
            </li>
            <li class="list__item">
                <a href="" class="btn">
                    <span class="btn__label sidebar__detail">Profile</span>
                    <svg class="icon btn__icon">
                        <use href="#user"></use>
                    </svg>
                </a>
            </li>
            <li class="list__item">
                <a href="" class="btn">
                    <span class="btn__label sidebar__detail">Games</span>
                    <svg class="icon btn__icon">
                        <use href="#gamepad"></use>
                    </svg>
                </a>
            </li>
            <li class="list__item">
                <a href="" class="btn">
                    <span class="btn__label sidebar__detail">Fields</span>
                    <svg class="icon btn__icon">
                        <use href="#field"></use>
                    </svg>
                </a>
            </li>
            <li class="list__item">
                <a href="" class="btn">
                    <span class="btn__label sidebar__detail">Settings</span>
                    <svg class="icon btn__icon">
                        <use href="#settings"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    <div class="sidebar__auth-menu">
        <div class="sidebar__auth-guest-menu">
            <a class="btn" href="">
                <svg class="btn__icon icon">
                    <use href="#sign-in"></use>
                </svg>
                <span class="btn__label sidebar__detail">Sign In</span>
            </a>
            <a class="btn" href="">
                <svg class="btn__icon icon">
                    <use href="#sign-up"></use>
                </svg>
                <span class="btn__label sidebar__detail">Sign Up</span>
            </a>
        </div>
        <a class="btn" href="">
            <svg class="btn__icon icon">
                <use href="#sign-out"></use>
            </svg>
            <span class="btn__label sidebar__detail">Sign Out</span>
        </a>
    </div>
</div>

</div>

</html>