<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/app :: app(title='Sign up', content=~{::content})}">

<div th:fragment="content">
    <form class="form" th:action="@{/users/register}" method="POST" th:object="${bindingModel}">
        <div class="form__group">
            <label class="form__label" for="email">Email address</label>
            <input class="form__input" type="email" placeholder="Email address" name="email" th:field="*{email}">
            <small class="form__error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
        </div>
        <div class="form__group">
            <label class="form__label" for="password">Password</label>
            <input class="form__input" type="password" placeholder="Password" name="password" th:field="*{password}">
            <small class="form__error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
        </div>
        <div class="form__group">
            <label class="form__label" for="fullname">Full name</label>
            <input class="form__input" type="fullname" placeholder="Full name" name="fullName" th:field="*{fullName}">
            <small class="form__error" th:if="${#fields.hasErrors('fullName')}">
                <pre th:errors="*{fullName}"></pre>
            </small>
        </div>
        <div class="form__group">
            <label class="from__label" for="username">Username</label>
            <input class="form__input" type="username" placeholder="Username" name="username" th:field="*{username}">
            <small class="form__error" th:if="${#fields.hasErrors('username')}">
                <pre th:errors="*{username}"></pre>
            </small>
        </div>
        <button class="btn form__submit-btn" type="submit">
            <div class="btn__label">Sign up</div>
        </button>
    </form>
</div>

</html>