* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color: inherit;
    color: inherit;
}

.app {
    --bg-dark-color: oklch(0.92 0.015 252);
    --bg-color: oklch(0.96 0.015 252);
    --bg-light-color: oklch(1 0.015 252);
    --text-color: oklch(0.15 0.03 252);
    --text-muted-color: oklch(0.4 0.03 252);
    --border-highlight-color: oklch(1 0.03 252);
    --border-color: oklch(0.6 0.03 252);
    --border-muted-color: oklch(0.7 0.03 252);
    --primary-color: oklch(0.4 0.1 252);
    --secondary-color: oklch(0.4 0.1 72);
    --alert-danger-color: oklch(0.5 0.05 30);
    --alert-warning-color: oklch(0.5 0.05 100);
    --alert-success-color: oklch(0.5 0.05 160);
    --alert-info-color: oklch(0.5 0.05 260);

    --header-height: 60px;
    --sidebar-width: 60px;
    --sidebar-width-expanded: 230px;
    --padding: 0.5rem;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--bg-dark-color);
    color: var(--text-color);

    display: grid;
    grid-template-areas:
        "header header"
        "sidebar workspace";
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: var(--sidebar-width) 1fr;
}

.app__header {
    grid-area: header;
    overflow: hidden auto;
    padding: var(--padding);
}

.app__sidebar {
    grid-area: sidebar;
    overflow: hidden auto;
    padding: var(--padding);
}

.app__workspace {
    grid-area: workspace;
    overflow: hidden auto;
    padding: var(--padding);
    background-color: var(--bg-color);
    color: var(--text-muted-color);
}