.icon {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    height: 1.5rem;
    width: 1.5rem;
}

.btn {
    height: inherit;
    width: inherit;
    padding: 0.3rem;
    font-size: inherit;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.3rem;
}

.btn:hover {
    background-color: var(--text-color);
    color: var(--bg-dark-color);
}

.btn__icon {
    order: 1;
}

.btn__label {
    order: 2;
}

.btn__indicator {
    order: 3;
    margin-left: auto;
}

.btn--logo {
    color: var(--primary-color);
}

.btn--logo:hover {
    color: var(--primary-color);
}

.btn--logo .btn__icon {
    height: 2rem;
    width: 2rem;
}

.btn--logo .btn__label {
    font-size: 1.7rem;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list__item {
    width: 100%;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown__content {
    display: none;
}

.dropdown__content--indent {
    font-size: 0.95rem;
    padding: 0.3rem 0.5rem;
}

.dropdown--fancy .dropdown__content {
    border-left: 1px solid var(--primary-color);
}

.dropdown--active>.dropdown__content,
.dropdown--hover:hover>.dropdown__content {
    display: unset;
}

.dropdown--active>.dropdown__btn,
.dropdown--hover:hover>.dropdown__btn {
    color: var(--primary-color);
}

.dropdown--active>.dropdown__btn>.dropdown__indicator,
.dropdown--hover:hover>.dropdown__btn>.dropdown__indicator {
    transform: rotate(90deg);
}

.search {
    padding: 0.1rem 0.5rem;
    border: solid 1px var(--border-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.search__item {
    border: none;
    outline: none;
    background: none;
}

.form {
    height: fit-content;
    width: fit-content;
    min-width: 400px;
    padding: 1rem;
    background: var(--bg-light-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.form__label {
   font-size: 0.9rem; 
}

.form__input {
    border-radius: 8px;
    padding: 0.3rem;
    border: 1px solid var(--text-color);
    font-size: 1rem;
}

.form__error {
    font-size: 0.9rem;
    color: var(--alert-danger-color);
}

.form__submit-btn {
    margin-top: 0.5rem;
    width: 100%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    justify-content: center;
}