.icon {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    height: 1.5rem;
    width: 1.5rem;
}

.btn {
    height: inherit;
    width: inherit;
    padding: 0.3rem;
    font-size: inherit;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.3rem;
}

.btn:hover {
    background-color: var(--text-color);
    color: var(--bg-dark-color);
}

.btn__icon {
    order: 1;
}

.btn__label {
    order: 2;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list__item {
    width: 100%;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown__content {
    display: none;
}

.dropdown__content--indent {
    font-size: 0.95rem;
    padding: 0.3rem 0.5rem;
}

.dropdown--fancy .dropdown__content {
    border-left: 1px solid var(--primary-color);
}

.dropdown--active>.dropdown__content,
.dropdown--hover:hover>.dropdown__content {
    display: unset;
}

.dropdown--active>.dropdown__btn,
.dropdown--hover:hover>.dropdown__btn {
    color: var(--primary-color);
}

.dropdown--active>.dropdown__btn>.dropdown__indicator,
.dropdown--hover:hover>.dropdown__btn>.dropdown__indicator {
    transform: rotate(90deg);
}