.sidebar {
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar__detail {
    display: none;
}

.sidebar__auth-guest-menu {
    display: flex;
    flex-direction: column;
}

.sidebar__logout-form {
    width: 100%;
}

.sidebar--expanded .sidebar__detail {
    display: unset;
}

.sidebar--expanded .sidebar__dropdown-content {
    font-size: 0.95rem;
    padding: 0.3rem 0.5rem;
}

.sidebar--expanded .sidebar__auth-guest-menu {
    flex-direction: row;
}

@media (min-width: 292px) {
    .sidebar--collapsed:hover .sidebar__detail {
        display: unset;
    }

    .sidebar--collapsed:hover .sidebar__dropdown-content {
        font-size: 0.95rem;
        padding: 0.3rem 0.5rem;
    }

    .sidebar--collapsed:hover .sidebar__auth-guest-menu {
        flex-direction: row;
    }
}