<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gundi</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>

<body>
    <div class="app">
        <header class="app__header">
        </header>
        <div class="app__sidebar"></div>
        <div class="app__workspace">
            <main class="app__main"></main>
            <footer class="app__footer"></footer>
        </div>
    </div>
</body>

</html>